{% extends 'food/base.html' %}

{% block body %}

<dir class="container">
    <dir class="row">
        <dir class="col-md-4 offset-md-4">
            <dir class="card-header text-white bg-info">
                <dir class="card-title">
                    Register
                </dir>
            </dir>
            <dir class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <dir>
                            {{ field.name }}
                            <br>
                            {{ field }}
                        </dir>
                    {% endfor %}
                    <button class="btn-info" type="submit">Signup</button>
                </form>
            </dir>
        </dir>

    </dir>

</dir>

{% endblock %}




